.record {
  display: grid;
  grid-template-columns: min(20px, 100px) 1fr 150px;
  counter-increment: record-counter;
  gap: 16px;

  &::before {
    content: counter(record-counter);
    font-size: 32px;
  }
}

.login {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-text-color);
  text-shadow: 1px 2px 0 #000;
}

.score {
  color: var(--orange);
  text-shadow: 1px 2px 0 #000;
}
