.container {
  max-width: 1667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 130px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;

  &::before {
    content: '';
    width: 200px;
    height: 200px;
    background-image: url('~/title-image.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
