.button {
  box-shadow: 4px 4px var(--primary-text-color);
  border: 0;
  color: var(--primary-text-color);
  cursor: pointer;
}

.orange {
  background-color: var(--orange);
}

.white {
  background-color: var(--white);
}

.link {
  color: var(--primary-text-color);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  cursor: pointer;
}
