.avatarUpload {
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--grey);
  background-image: var(--avatar-image);
  background-repeat: no-repeat;
  background-size: cover;
}
