.container {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

.content {
  align-items: center;
}

.form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px 50px;
  margin-bottom: 40px;
  width: 100%;
}

.links {
  margin-top: 24px;
}
