.container {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px 50px;
  margin-bottom: 40px;
  width: 100%;
}

.links {
  margin-top: 24px;
}

.link {
  color: var(--primary-text-color);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  cursor: pointer;
}
