.black {
  color: #000;
}

.white {
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.grey-with-shadow {
  color: var(--purple-grey);
  text-shadow: 2px 4px 0 #000;
}

.grey {
  color: var(--purple-grey);
}
