.black {
  color: #000;
}

.white {
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.grey-with-shadow {
  color: var(--primary-text-color);
  text-shadow: var(--text-shadow);
}

.grey {
  color: var(--primary-text-color);
}

.orange {
  color: var(--orange);
  text-shadow: var(--text-shadow);
}
