.form {
  width: 100%;
}

.commentField {
  min-width: 400px;
  max-width: 800px;
  width: 100%;
}

.textarea {
  width: 100%;
  resize: none;
  border: 4px solid var(--primary-text-color);
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
}
