.container {
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  padding: 0 min(10px, 130px);
}

.topics {
  align-items: center;
}

.topicList {
  max-height: calc(100vh - 480px);
  overflow: scroll;
}
